mixin breadcrumb()
    .breadcrumb
        .inner-image
            img(
            alt="" 
            src="/client/asset/images/Rectangle 34.png"
            )
        .inner-content
            .container
                .inner-wrap
                    h1.inner-title Tour Nuoc Ngoai
                        nav.inner-links
                            a(href="#") Trang Chu
                                i.fa-solid.fa-angle-right
                                    a(href="#") Tour Nuoc Ngoai