mixin product-item()
  .product-item
    .inner-image
      a(href="#")
        img(
          alt="" 
          src="/client/asset/images/Rectangle 1025.png"
        )
    .inner-discount
      i.fa-solid.fa-bolt Giam 30%
    .inner-content
      h3.inner-title
        a(href="#") Ha Noi - Lao Cai - SaPa 4N3D
      .inner-prices
        .inner-price-old
          | 13.650.000
          span.inner-unit AUD
        .inner-price-new
          | 2.590.000
          span.inner-unit AUD
      .inner-desc
        div
          | Ma Tour:
          b 123456789
        div
          | Ngay Khoi Hanh:
          b 22/07/2024
        div
          | Thoi Gian:
          b 10 Ngay 9 Dem
      .inner-meta
        .inner-rating
          .inner-starts
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-regular.fa-star
          .inner-number (5)
        .inner-stock
          .inner-label So Cho Con:
          .inner-number 10
