nav.sider
    ul.inner-menu 
        li 
                a(href="#" class="active") <i class="fa-solid fa-gauge-high"></i> Tong Quan
        li   
                a(href="#") <i class="fa-solid fa-table-cells-large"></i> Quan Ly Danh Muc
        li  
                a(href="#") <i class="fa-solid fa-table-list"></i> Quan Ly Tour
        li
                a(href="#") <i class="fa-solid fa-list-check"></i> Quan Ly Don Hang 
        li
                a(href="#") <i class="fa-solid fa-user"></i> Quan Ly Nguoi Dung
        li
            a(href="#") <i class="fa-solid fa-user-group"></i> Quan Ly Nhan Vien
    hr

    ul.inner-menu 
        li 
            a(href="#") <i class="fa-solid fa-gear"></i> Cai Dat He Thong
        li 
            a(href="#") <i class="fa-solid fa-user-gear"></i> Thong Tin Ca Nhan
        li 
            a(href="#" class="inner-logout") <i class="fa-solid fa-power-off"></i> Dang Xuat    