header.top-header
  .container
    .inner-wrap
      .inner-item
        p
          i.fa-solid.fa-phone
          | 090.776.2233
        p
          i.fa-solid.fa-inbox
          | contact@28travel.com
        p
          i.fa-solid.fa-location-dot
          | 29B Kellway st, Maribyrnong ,Vic 3032