header.top-header
  .container
    .inner-wrap
      if(settingWebsiteInfo.phone)
      .inner-item
        p
          i.fa-solid.fa-phone
          | #{settingWebsiteInfo.phone}
        p
          i.fa-solid.fa-inbox
          | #{settingWebsiteInfo.email}
        p
          i.fa-solid.fa-location-dot
          | #{settingWebsiteInfo.address}